* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    margin: 0;  
    
}

.content {
    display: flex;
    flex-direction: column;
}

.top {
    background-color: rgb(69, 241, 53);
    height: 100px;
    color: white;
    font-size: 50px;
}
h1 {
    font-size: 20px;
}
.middle {
    display: flex;
    padding-top: 40px;
    gap: 110px;
    padding-left: 50px;
    padding-bottom: 90px;
}
.box-1 {
    background-color: rgb(234, 60, 60);
    height: 140px; 
    width: 200px;
    text-align: center;
    line-height: 160px;
    border-radius: 10px;
    
}
.box-2 {
    background-color: rgb(240, 182, 58);
    height: 160px; 
    width: 220px;
    text-align: center;
    line-height: 160px;
    border-radius: 10px;
    
}
.box-3 {
    
    background-color: rgb(54, 207, 87);
    height: 160px; 
    width: 220px;
    text-align: center;
    line-height: 160px;
    border-radius: 10px;
    
}
.click-button {
    align-items: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.button {
    background-color: rgb(72, 72, 211);
    color: white;
    width: 70px;
    height: 30px;
    border-color: rgb(72, 72, 211); ;
}
.button:hover {
    background-color: #7747e7; 
}
footer{
    background-color: rgb(68, 68, 68);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
   

}